

<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1>I Believe in Me Daily Affirmations </h1>
   

<p>This is a space you visit daily to share an affirmation to encourage you to to share some positivity with others and speak it to yourself at the same time. We believe in you so we wnat you to believe in you too. Click the link below to begin</p>

<a href="/affirmations/new">Get started</a>

<ul>
    <%allAffir.forEach((el) => { %>
      <a href="/affirmations/<%= el._id %>">
        <li><%= el.affirmation %> feeling <%=el.feelings%>  </li>
      </a>
    <% }) %>
  </ul>

  </body>
</html>
